In [1]:
import requests
import pandas as pd
import numpy as np
from IPython.display import display
from bs4 import BeautifulSoup
import re
from requests_futures.sessions import FuturesSession
import datetime

In [2]:
TOP_UNI_URL = "https://www.topuniversities.com"
start = datetime.datetime.now()

In [3]:
r = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt')
json = r.json()['data']
#print(json)

In [4]:
def getLink(x):
    soup = BeautifulSoup(x, 'html.parser')
    link = soup.find("a")
    return pd.Series([TOP_UNI_URL + link.get("href"),link.text],index = ['url','name'])

In [5]:
df = pd.DataFrame(json)
df = df[['region','overall_rank','location','uni']]
df_temp = df.apply(lambda x: getLink(x['uni']),axis = 1)
df = df.drop('uni',1)
df = df.join(df_temp)

display(df)

,region,overall_rank,location,url,name
0,North America,1,United States,https://www.topuniversities.com/universities/m...,Massachusetts Institute of Technology (MIT)
1,North America,2,United States,https://www.topuniversities.com/universities/s...,Stanford University
2,North America,3,United States,https://www.topuniversities.com/universities/h...,Harvard University
3,North America,4,United States,https://www.topuniversities.com/universities/c...,California Institute of Technology (Caltech)
4,Europe,5,United Kingdom,https://www.topuniversities.com/universities/u...,University of Cambridge
5,Europe,6,United Kingdom,https://www.topuniversities.com/universities/u...,University of Oxford
6,Europe,7,United Kingdom,https://www.topuniversities.com/universities/u...,UCL (University College London)
7,Europe,8,United Kingdom,https://www.topuniversities.com/universities/i...,Imperial College London
8,North America,9,United States,https://www.topuniversities.com/universities/u...,University of Chicago
9,Europe,10,Switzerland,https://www.topuniversities.com/universities/e...,ETH Zurich - Swiss Federal Institute of Techno...
10,Asia,11,Singapore,https://www.topuniversities.com/universities/n...,"Nanyang Technological University, Singapore (NTU)"
11,Europe,12,Switzerland,https://www.topuniversities.com/universities/e...,Ecole Polytechnique Fédérale de Lausanne (EPFL)
12,North America,13,United States,https://www.topuniversities.com/universities/p...,Princeton University
13,North America,14,United States,https://www.topuniversities.com/universities/c...,Cornell University
14,Asia,15,Singapore,https://www.topuniversities.com/universities/n...,National University of Singapore (NUS)
15,North America,16,United States,https://www.topuniversities.com/universities/y...,Yale University
16,North America,17,United States,https://www.topuniversities.com/universities/j...,Johns Hopkins University
17,North America,18,United States,https://www.topuniversities.com/universities/c...,Columbia University
18,North America,19,United States,https://www.topuniversities.com/universities/u...,University of Pennsylvania
19,Oceania,20,Australia,https://www.topuniversities.com/universities/a...,The Australian National University
20,North America,21,United States,https://www.topuniversities.com/universities/d...,Duke University
21,North America,21,United States,https://www.topuniversities.com/universities/u...,University of Michigan
22,Europe,23,United Kingdom,https://www.topuniversities.com/universities/k...,King's College London
23,Europe,23,United Kingdom,https://www.topuniversities.com/universities/u...,The University of Edinburgh
24,Asia,25,China,https://www.topuniversities.com/universities/t...,Tsinghua University
25,Asia,26,Hong Kong,https://www.topuniversities.com/universities/u...,The University of Hong Kong
26,North America,27,United States,https://www.topuniversities.com/universities/u...,"University of California, Berkeley (UCB)"
27,North America,28,United States,https://www.topuniversities.com/universities/n...,Northwestern University
28,Asia,28,Japan,https://www.topuniversities.com/universities/u...,The University of Tokyo
29,Asia,30,Hong Kong,https://www.topuniversities.com/universities/h...,The Hong Kong University of Science and Techno...
...,...,...,...,...,...
950,Africa,951,South Africa,https://www.topuniversities.com/universities/u...,University of the Western Cape
951,Europe,952,Poland,https://www.topuniversities.com/universities/u...,University of Wroclaw
952,Europe,953,France,https://www.topuniversities.com/universities/u...,Université de Toulouse II-Le Mirail
953,North America,954,United States,https://www.topuniversities.com/universities/u...,Utah State University
954,Europe,955,Italy,https://www.topuniversities.com/universities/v...,Verona University
955,Europe,956,Russia,https://www.topuniversities.com/universities/v...,Voronezh State University
956,Europe,957,Lithuania,https://www.topuniversities.com/universities/v...,Vytautas Magnus University
957,Europe,958,Romania,https://www.topuniversities.com/universities/u...,Universitatea de Vest din Timisoara / West Un...
958,Europe,959,Poland,https://www.topuniversities.com/universities/w...,Wroclaw University of Technology
959,North America,960,United States,https://www.topuniversities.com/universities/b...,Baylor College of Medicine
960,Europe,961,Norway,https://www.topuniversities.com/universities/b...,BI Norwegian Business School
961,Asia,962,South Korea,https://www.topuniversities.com/universities/c...,Chung-Ang University (CAU)
962,Europe,963,Denmark,https://www.topuniversities.com/universities/c...,Copenhagen Business School
963,Europe,964,United Kingdom,https://www.topuniversities.com/universities/c...,Cranfield University
964,Europe,965,France,https://www.topuniversities.com/universities/e...,ESCP Europe - Paris
965,Europe,966,France,https://www.topuniversities.com/universities/e...,ESSEC Business School
966,Europe,967,Germany,https://www.topuniversities.com/universities/e...,EBS Business School
967,Europe,968,France,https://www.topuniversities.com/universities/h...,HEC Paris School of Management
968,Europe,969,France,https://www.topuniversities.com/universities/i...,INSEAD
969,Asia,970,India,https://www.topuniversities.com/universities/j...,Jawaharlal Nehru University
970,Europe,971,Sweden,https://www.topuniversities.com/universities/k...,Karolinska Institutet
971,Asia,972,Saudi Arabia,https://www.topuniversities.com/universities/k...,King Abdullah University of Science & Technology
972,Europe,973,United Kingdom,https://www.topuniversities.com/universities/l...,London Business School
973,Europe,974,Sweden,https://www.topuniversities.com/universities/s...,Stockholm School of Economics
974,Europe,975,Italy,https://www.topuniversities.com/universities/b...,Bocconi University
975,Europe,976,France,https://www.topuniversities.com/universities/u...,Université de Technologie de Compiègne (UTC)
976,North America,977,United States,https://www.topuniversities.com/universities/u...,"University of California, San Francisco"
977,Europe,978,Czech Republic,https://www.topuniversities.com/universities/u...,"University of Economics, Prague"
978,Asia,979,Israel,https://www.topuniversities.com/universities/w...,Weizmann Institute of Science
979,Europe,980,Germany,https://www.topuniversities.com/universities/w...,WHU - Otto Beisheim School of Management

In [6]:
def find_number(soup, list_dict_div):
    current_soup = soup
    for dict_div in list_dict_div:
        current_soup = current_soup.find("div",dict_div)
        if(current_soup is None):
            return 0
    return int(current_soup.text.replace(",", ""))

In [7]:
def getExtraData(x):
    #print(x)
    #r_t = requests.get(x)
    soup = BeautifulSoup(x.text, 'html.parser')

    total_faculty_int = find_number(soup, [{ "class" : "faculty-main wrapper col-md-4" },{ "class" : "total faculty"}, { "class" : "number"}])
    inter_faculty_int = find_number(soup, [{ "class" : "faculty-main wrapper col-md-4" },{ "class" : "inter faculty"}, { "class" : "number"}])
    number_students_int = find_number(soup, [{"class": "students-main wrapper col-md-4"}, { "class" : "number"}])
    international_students_int = find_number(soup, [{"class": "int-students-main wrapper col-md-4"}, { "class" : "number"}])

    return pd.DataFrame(data = [[total_faculty_int,inter_faculty_int,number_students_int,international_students_int]], columns = ['total faculty','international faculty','number of students','international students'])

def async_getExtraData(sess,x):
    return getExtraData(x)

In [8]:
df = df.head(200)

df_temp = df[['url']]

#display(df_temp)
urls = df_temp.values.tolist()
urls = [item for sublist in urls for item in sublist]
#print(urls)

session = FuturesSession(max_workers=10)
futures = []
results =[]

for url in urls:
    future = session.get(url)
    futures.append((url,future))

for url,r in futures:
    results.append((url,r.result()))

In [9]:
list_dataframe = []

for url,result in results:
    list_dataframe.append(pd.concat([getExtraData(result),pd.DataFrame(data = [url],columns=['url'])],axis = 1))
    
print('done')

done

In [10]:
df_temp = pd.concat(list_dataframe)
display(df_temp)

,total faculty,international faculty,number of students,international students,url
0,2982,1679,11067,3717,https://www.topuniversities.com/universities/m...
0,4285,2042,15878,3611,https://www.topuniversities.com/universities/s...
0,4350,1311,22429,5266,https://www.topuniversities.com/universities/h...
0,953,350,2255,647,https://www.topuniversities.com/universities/c...
0,5490,2278,18770,6699,https://www.topuniversities.com/universities/u...
0,6750,2964,19720,7353,https://www.topuniversities.com/universities/u...
0,6345,2554,31080,14854,https://www.topuniversities.com/universities/u...
0,3930,2071,16090,8746,https://www.topuniversities.com/universities/i...
0,2449,635,13557,3379,https://www.topuniversities.com/universities/u...
0,2477,1886,19815,7563,https://www.topuniversities.com/universities/e...
0,4338,2993,25738,7251,https://www.topuniversities.com/universities/n...
0,1695,1300,10343,5896,https://www.topuniversities.com/universities/e...
0,1007,246,8069,1793,https://www.topuniversities.com/universities/p...
0,2718,970,21904,5411,https://www.topuniversities.com/universities/c...
0,5106,3086,32728,8917,https://www.topuniversities.com/universities/n...
0,4940,1708,12402,2469,https://www.topuniversities.com/universities/y...
0,4462,1061,16146,4105,https://www.topuniversities.com/universities/j...
0,6189,913,25045,8105,https://www.topuniversities.com/universities/c...
0,5499,1383,20639,4250,https://www.topuniversities.com/universities/u...
0,1600,927,14442,5551,https://www.topuniversities.com/universities/a...
0,2938,226,15320,2864,https://www.topuniversities.com/universities/d...
0,6809,1920,43147,7527,https://www.topuniversities.com/universities/u...
0,3650,1513,23780,9451,https://www.topuniversities.com/universities/k...
0,4075,1553,28040,10551,https://www.topuniversities.com/universities/u...
0,5506,932,36300,4072,https://www.topuniversities.com/universities/t...
0,3012,2085,20214,8230,https://www.topuniversities.com/universities/u...
0,3321,1395,36703,6086,https://www.topuniversities.com/universities/u...
0,4231,1141,18675,3422,https://www.topuniversities.com/universities/n...
0,4514,254,27279,2639,https://www.topuniversities.com/universities/u...
0,1150,835,10375,2921,https://www.topuniversities.com/universities/h...
...,...,...,...,...,...
0,1966,413,23214,3897,https://www.topuniversities.com/universities/a...
0,466,4,7477,80,https://www.topuniversities.com/universities/i...
0,1062,665,6040,989,https://www.topuniversities.com/universities/k...
0,2390,717,22065,7502,https://www.topuniversities.com/universities/u...
0,2509,487,21560,1899,https://www.topuniversities.com/universities/u...
0,1328,546,24207,7769,https://www.topuniversities.com/universities/u...
0,529,137,3877,1132,https://www.topuniversities.com/universities/c...
0,5419,504,45485,4597,https://www.topuniversities.com/universities/u...
0,876,19,9402,93,https://www.topuniversities.com/universities/i...
0,910,299,9332,2235,https://www.topuniversities.com/universities/u...
0,3678,641,30402,3736,https://www.topuniversities.com/universities/u...
0,706,172,17479,5199,https://www.topuniversities.com/universities/v...
0,1968,109,26572,966,https://www.topuniversities.com/universities/u...
0,3685,566,30219,2679,https://www.topuniversities.com/universities/u...
0,1792,515,9284,1853,https://www.topuniversities.com/universities/v...
0,2569,488,9636,2805,https://www.topuniversities.com/universities/u...
0,2738,181,26511,2976,https://www.topuniversities.com/universities/u...
0,2990,153,63399,4195,https://www.topuniversities.com/universities/a...
0,1280,422,13330,4077,https://www.topuniversities.com/universities/u...
0,423,0,4071,47,https://www.topuniversities.com/universities/i...
0,1733,379,19593,3325,https://www.topuniversities.com/universities/u...
0,3905,261,33500,2178,https://www.topuniversities.com/universities/k...
0,86,1,532,48,https://www.topuniversities.com/universities/s...
0,119,1,789,135,https://www.topuniversities.com/universities/s...
0,2154,646,28281,2636,https://www.topuniversities.com/universities/s...
0,4913,669,34029,4929,https://www.topuniversities.com/universities/t...
0,3446,206,60294,4900,https://www.topuniversities.com/universities/t...
0,2187,230,31986,3848,https://www.topuniversities.com/universities/u...
0,1822,821,13376,1412,https://www.topuniversities.com/universities/i...
0,1277,502,16385,8234,https://www.topuniversities.com/universities/m...

In [11]:
df = df.merge(df_temp, left_on='url', right_on='url', how='outer')
df = df.drop('url', 1)

In [12]:
display(df)

,region,overall_rank,location,name,total faculty,international faculty,number of students,international students
0,North America,1,United States,Massachusetts Institute of Technology (MIT),2982,1679,11067,3717
1,North America,2,United States,Stanford University,4285,2042,15878,3611
2,North America,3,United States,Harvard University,4350,1311,22429,5266
3,North America,4,United States,California Institute of Technology (Caltech),953,350,2255,647
4,Europe,5,United Kingdom,University of Cambridge,5490,2278,18770,6699
5,Europe,6,United Kingdom,University of Oxford,6750,2964,19720,7353
6,Europe,7,United Kingdom,UCL (University College London),6345,2554,31080,14854
7,Europe,8,United Kingdom,Imperial College London,3930,2071,16090,8746
8,North America,9,United States,University of Chicago,2449,635,13557,3379
9,Europe,10,Switzerland,ETH Zurich - Swiss Federal Institute of Techno...,2477,1886,19815,7563
10,Asia,11,Singapore,"Nanyang Technological University, Singapore (NTU)",4338,2993,25738,7251
11,Europe,12,Switzerland,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695,1300,10343,5896
12,North America,13,United States,Princeton University,1007,246,8069,1793
13,North America,14,United States,Cornell University,2718,970,21904,5411
14,Asia,15,Singapore,National University of Singapore (NUS),5106,3086,32728,8917
15,North America,16,United States,Yale University,4940,1708,12402,2469
16,North America,17,United States,Johns Hopkins University,4462,1061,16146,4105
17,North America,18,United States,Columbia University,6189,913,25045,8105
18,North America,19,United States,University of Pennsylvania,5499,1383,20639,4250
19,Oceania,20,Australia,The Australian National University,1600,927,14442,5551
20,North America,21,United States,Duke University,2938,226,15320,2864
21,North America,21,United States,University of Michigan,6809,1920,43147,7527
22,Europe,23,United Kingdom,King's College London,3650,1513,23780,9451
23,Europe,23,United Kingdom,The University of Edinburgh,4075,1553,28040,10551
24,Asia,25,China,Tsinghua University,5506,932,36300,4072
25,Asia,26,Hong Kong,The University of Hong Kong,3012,2085,20214,8230
26,North America,27,United States,"University of California, Berkeley (UCB)",3321,1395,36703,6086
27,North America,28,United States,Northwestern University,4231,1141,18675,3422
28,Asia,28,Japan,The University of Tokyo,4514,254,27279,2639
29,Asia,30,Hong Kong,The Hong Kong University of Science and Techno...,1150,835,10375,2921
...,...,...,...,...,...,...,...,...
170,Europe,171,Germany,Albert-Ludwigs-Universitaet Freiburg,1966,413,23214,3897
171,Asia,172,India,Indian Institute of Technology Delhi (IITD),466,4,7477,80
172,Asia,173,Saudi Arabia,King Fahd University of Petroleum & Minerals,1062,665,6040,989
173,Europe,173,United Kingdom,University of Liverpool,2390,717,22065,7502
174,North America,173,United States,University of Virginia,2509,487,21560,1899
175,Oceania,176,Australia,University of Technology Sydney,1328,546,24207,7769
176,Europe,177,France,CentraleSupélec,529,137,3877,1132
177,North America,178,United States,University of Florida,5419,504,45485,4597
178,Asia,179,India,Indian Institute of Technology Bombay (IITB),876,19,9402,93
179,Europe,179,Netherlands,University of Twente,910,299,9332,2235
180,Europe,181,Germany,University of Göttingen,3678,641,30402,3736
181,Europe,182,Austria,Vienna University of Technology,706,172,17479,5199
182,Latin America,182,Brazil,Universidade Estadual de Campinas (Unicamp),1968,109,26572,966
183,North America,182,United States,University of Colorado Boulder,3685,566,30219,2679
184,Europe,182,Belgium,Vrije Universiteit Brussel (VUB),1792,515,9284,1853
185,North America,186,United States,University of Rochester,2569,488,9636,2805
186,Europe,187,Spain,Universidad Autónoma de Madrid,2738,181,26511,2976
187,Europe,188,Italy,Alma Mater Studiorum - University of Bologna,2990,153,63399,4195
188,Europe,188,United Kingdom,University of Reading,1280,422,13330,4077
189,Asia,190,India,Indian Institute of Science (IISc) Bangalore,423,0,4071,47
190,Africa,191,South Africa,University of Cape Town,1733,379,19593,3325
191,Asia,192,Japan,Keio University CEMS MIM,3905,261,33500,2178
192,Europe,192,Italy,Scuola Normale Superiore di Pisa,86,1,532,48
193,Europe,192,Italy,Scuola Superiore Sant'Anna Pisa di Studi Unive...,119,1,789,135
194,Europe,195,Sweden,Stockholm University,2154,646,28281,2636
195,Europe,281,Germany,Technische Universität Dresden,4913,669,34029,4929
196,North America,195,United States,Texas A&M University,3446,206,60294,4900
197,Europe,195,Spain,Universitat Autònoma de Barcelona,2187,230,31986,3848
198,Latin America,199,Mexico,Instituto Tecnológico y de Estudios Superiores...,1822,821,13376,1412
199,Europe,200,Netherlands,Maastricht University,1277,502,16385,8234

In [13]:
def display_ratio(df):
    df_ratio = df.copy()
    
    df_ratio['ratio'] = df_ratio['total faculty'] / df_ratio['number of students']
    df_ratio = df_ratio.sort_values('ratio',ascending=False)
    display(df_ratio)
    
    df_ratio['ratio'] = df_ratio['international students'] / df_ratio['number of students']
    df_ratio = df_ratio.sort_values('ratio',ascending=False)
    display(df_ratio)

### a ,b)

In [14]:
display_ratio(df)

,region,overall_rank,location,name,total faculty,international faculty,number of students,international students,ratio
3,North America,4,United States,California Institute of Technology (Caltech),953,350,2255,647,0.422616
15,North America,16,United States,Yale University,4940,1708,12402,2469,0.398323
5,Europe,6,United Kingdom,University of Oxford,6750,2964,19720,7353,0.342292
4,Europe,5,United Kingdom,University of Cambridge,5490,2278,18770,6699,0.292488
16,North America,17,United States,Johns Hopkins University,4462,1061,16146,4105,0.276353
1,North America,2,United States,Stanford University,4285,2042,15878,3611,0.269870
0,North America,1,United States,Massachusetts Institute of Technology (MIT),2982,1679,11067,3717,0.269450
185,North America,186,United States,University of Rochester,2569,488,9636,2805,0.266604
18,North America,19,United States,University of Pennsylvania,5499,1383,20639,4250,0.266437
17,North America,18,United States,Columbia University,6189,913,25045,8105,0.247115
7,Europe,8,United Kingdom,Imperial College London,3930,2071,16090,8746,0.244251
116,Europe,116,Denmark,Technical University of Denmark,2117,966,8878,2098,0.238455
72,Europe,73,Denmark,University of Copenhagen,7483,2336,32119,3683,0.232977
27,North America,28,United States,Northwestern University,4231,1141,18675,3422,0.226560
94,Europe,95,Russia,Lomonosov Moscow State University,6709,373,30233,5098,0.221910
71,Asia,71,South Korea,Pohang University of Science And Technology (P...,664,113,3117,126,0.213025
58,Europe,59,France,Ecole Polytechnique,649,259,3126,924,0.207614
6,Europe,7,United Kingdom,UCL (University College London),6345,2554,31080,14854,0.204151
99,North America,100,United States,Washington University in St. Louis,2699,784,13474,2706,0.200312
146,North America,147,United States,Emory University,2560,484,12852,2154,0.199191
2,North America,3,United States,Harvard University,4350,1311,22429,5266,0.193945
184,Europe,182,Belgium,Vrije Universiteit Brussel (VUB),1792,515,9284,1853,0.193020
20,North America,21,United States,Duke University,2938,226,15320,2864,0.191775
73,Europe,73,Switzerland,University of Zurich,4997,2617,26065,5036,0.191713
76,Asia,76,Japan,Tohoku University,3411,264,17827,1604,0.191339
156,Europe,157,France,École Normale Supérieure de Lyon,382,91,2020,221,0.189109
142,North America,142,United States,University of Pittsburgh,4982,572,26393,2937,0.188762
8,North America,9,United States,University of Chicago,2449,635,13557,3379,0.180645
123,Europe,124,Netherlands,Wageningen University,2277,323,12695,3613,0.179362
35,Asia,36,Japan,Kyoto University,4060,293,22974,1990,0.176722
...,...,...,...,...,...,...,...,...,...
44,Oceania,45,Australia,The University of New South Wales (UNSW Sydney),2924,1612,39784,14292,0.073497
160,Asia,161,Taiwan,National Tsing Hua University,1020,119,13890,1187,0.073434
49,Oceania,50,Australia,The University of Sydney,3360,1829,46678,17030,0.071983
140,Europe,141,Germany,RWTH Aachen University,3176,449,44517,8556,0.071344
32,North America,33,United States,"University of California, Los Angeles (UCLA)",2859,662,40114,6887,0.071272
125,Europe,125,Belgium,Ghent University,2520,482,35968,3766,0.070062
106,Europe,107,Germany,"KIT, Karlsruhe Institute of Technology",1827,410,26081,4809,0.070051
81,Oceania,82,New Zealand,The University of Auckland,2047,645,29641,8568,0.069060
197,Europe,195,Spain,Universitat Autònoma de Barcelona,2187,230,31986,3848,0.068374
150,Oceania,151,New Zealand,University of Otago,1266,759,18532,3871,0.068314
148,North America,149,United States,Michigan State University,2884,653,44951,7427,0.064159
133,North America,134,United States,"University of California, Santa Barbara (UCSB)",1449,267,23149,2128,0.062594
171,Asia,172,India,Indian Institute of Technology Delhi (IITD),466,4,7477,80,0.062324
68,North America,69,United States,University of Illinois at Urbana-Champaign,2554,259,42427,9483,0.060198
165,North America,164,United States,"University of California, Irvine",1926,377,32151,8538,0.059905
119,Europe,120,Germany,Humboldt-Universität zu Berlin,1966,407,33198,4805,0.059220
66,North America,67,United States,University of Texas at Austin,2833,108,47995,4744,0.059027
196,North America,195,United States,Texas A&M University,3446,206,60294,4900,0.057153
59,Oceania,60,Australia,Monash University,3204,1679,57433,20578,0.055787
70,Europe,71,Belgium,KU Leuven,2515,784,45538,6926,0.055229
175,Oceania,176,Australia,University of Technology Sydney,1328,546,24207,7769,0.054860
69,North America,70,United States,Georgia Institute of Technology,1133,75,21082,4761,0.053743
152,Europe,153,Belgium,Université catholique de Louvain (UCL),1219,406,24277,4468,0.050212
151,North America,152,Canada,University of Waterloo,1689,473,35541,8962,0.047523
187,Europe,188,Italy,Alma Mater Studiorum - University of Bologna,2990,153,63399,4195,0.047162
60,North America,61,United States,University of Washington,2484,550,56973,8373,0.043600
124,Europe,125,Germany,Freie Universitaet Berlin,1375,305,32912,5735,0.041778
169,Europe,170,Italy,Politecnico di Milano,1500,231,36277,5593,0.041349
181,Europe,182,Austria,Vienna University of Technology,706,172,17479,5199,0.040391
51,North America,52,United States,New York University (NYU),0,0,0,0,NaN

,region,overall_rank,location,name,total faculty,international faculty,number of students,international students,ratio
34,Europe,35,United Kingdom,London School of Economics and Political Scien...,1088,687,9760,6748,0.691393
11,Europe,12,Switzerland,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695,1300,10343,5896,0.570047
7,Europe,8,United Kingdom,Imperial College London,3930,2071,16090,8746,0.543567
199,Europe,200,Netherlands,Maastricht University,1277,502,16385,8234,0.502533
46,North America,47,United States,Carnegie Mellon University,1342,425,13356,6385,0.478062
6,Europe,7,United Kingdom,UCL (University College London),6345,2554,31080,14854,0.477928
91,Europe,92,United Kingdom,University of St Andrews,1140,485,8800,4030,0.457955
41,Oceania,41,Australia,The University of Melbourne,3311,1477,42182,18030,0.427434
126,Europe,127,United Kingdom,Queen Mary University of London,1885,801,16135,6806,0.421816
25,Asia,26,Hong Kong,The University of Hong Kong,3012,2085,20214,8230,0.407144
22,Europe,23,United Kingdom,King's College London,3650,1513,23780,9451,0.397435
112,Europe,113,Netherlands,University of Groningen,3351,1137,27549,10780,0.391303
56,Europe,57,United Kingdom,The University of Warwick,2093,890,19855,7703,0.387963
98,Europe,98,Switzerland,University of Geneva,1752,1029,15844,6104,0.385256
19,Oceania,20,Australia,The Australian National University,1600,927,14442,5551,0.384365
109,Oceania,109,Australia,The University of Adelaide,1729,633,21240,8114,0.382015
9,Europe,10,Switzerland,ETH Zurich - Swiss Federal Institute of Techno...,2477,1886,19815,7563,0.381681
23,Europe,23,United Kingdom,The University of Edinburgh,4075,1553,28040,10551,0.376284
5,Europe,6,United Kingdom,University of Oxford,6750,2964,19720,7353,0.372870
33,Europe,34,United Kingdom,The University of Manchester,4910,1653,36670,13514,0.368530
49,Oceania,50,Australia,The University of Sydney,3360,1829,46678,17030,0.364840
134,Europe,135,United Kingdom,Lancaster University,1245,435,12300,4464,0.362927
44,Oceania,45,Australia,The University of New South Wales (UNSW Sydney),2924,1612,39784,14292,0.359240
59,Oceania,60,Australia,Monash University,3204,1679,57433,20578,0.358296
4,Europe,5,United Kingdom,University of Cambridge,5490,2278,18770,6699,0.356899
48,Asia,49,Hong Kong,City University of Hong Kong,1349,1027,9240,3273,0.354221
157,Europe,158,United Kingdom,University of Aberdeen,1310,508,12005,4246,0.353686
82,Europe,82,United Kingdom,The University of Sheffield,3065,938,25430,8745,0.343885
64,Europe,65,United Kingdom,University of Glasgow,2775,956,23815,8149,0.342179
173,Europe,173,United Kingdom,University of Liverpool,2390,717,22065,7502,0.339995
...,...,...,...,...,...,...,...,...,...
133,North America,134,United States,"University of California, Santa Barbara (UCSB)",1449,267,23149,2128,0.091926
113,Asia,114,China,Nanjing University,2449,617,32495,2960,0.091091
192,Europe,192,Italy,Scuola Normale Superiore di Pisa,86,1,532,48,0.090226
76,Asia,76,Japan,Tohoku University,3411,264,17827,1604,0.089976
183,North America,182,United States,University of Colorado Boulder,3685,566,30219,2679,0.088653
174,North America,173,United States,University of Virginia,2509,487,21560,1899,0.088080
110,Europe,109,Netherlands,Utrecht University,3067,653,31754,2771,0.087265
35,Asia,36,Japan,Kyoto University,4060,293,22974,1990,0.086620
160,Asia,161,Taiwan,National Tsing Hua University,1020,119,13890,1187,0.085457
36,Asia,36,South Korea,Seoul National University,3930,433,28064,2331,0.083060
196,North America,195,United States,Texas A&M University,3446,206,60294,4900,0.081268
121,Asia,122,Japan,Hokkaido University,2605,210,17552,1347,0.076743
79,North America,80,United States,"University of North Carolina, Chapel Hill",4083,524,25373,1934,0.076223
61,Asia,62,China,Shanghai Jiao Tong University,3544,887,38931,2858,0.073412
164,Europe,164,Norway,University of Bergen,1513,484,10671,767,0.071877
187,Europe,188,Italy,Alma Mater Studiorum - University of Bologna,2990,153,63399,4195,0.066168
191,Asia,192,Japan,Keio University CEMS MIM,3905,261,33500,2178,0.065015
144,Asia,145,Israel,The Hebrew University of Jerusalem,2249,454,16531,1034,0.062549
40,Asia,41,South Korea,KAIST - Korea Advanced Institute of Science & ...,1250,147,9826,584,0.059434
101,Europe,102,Finland,University of Helsinki,2645,535,22419,1234,0.055043
71,Asia,71,South Korea,Pohang University of Science And Technology (P...,664,113,3117,126,0.040423
138,Latin America,137,Chile,Pontificia Universidad Católica de Chile (UC),2260,198,27003,991,0.036700
182,Latin America,182,Brazil,Universidade Estadual de Campinas (Unicamp),1968,109,26572,966,0.036354
96,Asia,97,China,University of Science and Technology of China,1992,155,16032,548,0.034182
120,Latin America,121,Brazil,Universidade de São Paulo,5582,279,65711,2086,0.031745
122,Latin America,122,Mexico,Universidad Nacional Autónoma de México (UNAM),15073,949,141939,2173,0.015309
189,Asia,190,India,Indian Institute of Science (IISc) Bangalore,423,0,4071,47,0.011545
171,Asia,172,India,Indian Institute of Technology Delhi (IITD),466,4,7477,80,0.010699
178,Asia,179,India,Indian Institute of Technology Bombay (IITB),876,19,9402,93,0.009892
51,North America,52,United States,New York University (NYU),0,0,0,0,NaN

### c)

In [15]:
display_ratio(df.groupby('location').sum())

,total faculty,international faculty,number of students,international students,ratio
location,,,,,
Russia,6709,373,30233,5098,0.221910
Denmark,11916,3904,67223,9543,0.177261
Saudi Arabia,1062,665,6040,989,0.175828
Singapore,9444,6079,58466,16168,0.161530
Malaysia,2755,655,17902,3476,0.153893
Japan,28395,2221,186222,16269,0.152479
South Korea,19851,2010,140071,16273,0.141721
Switzerland,15323,9208,109112,32995,0.140434
United Kingdom,79934,30216,583621,199426,0.136962
Israel,2249,454,16531,1034,0.136047
Argentina,16421,3165,122301,27109,0.134267
Hong Kong,10166,6296,78838,24499,0.128948
United States,152806,33102,1264839,218877,0.120811
China,27220,6720,235898,26833,0.115389
Norway,4022,1195,34975,4434,0.114996
France,4011,815,35235,6864,0.113836
Finland,3902,905,34566,3065,0.112885
Mexico,16895,1770,155315,3585,0.108779
Canada,29317,10734,281514,73239,0.104140
Netherlands,20287,5683,197631,46044,0.102651
Germany,38339,7071,376528,61384,0.101822
Sweden,10329,3062,103353,17644,0.099939
South Africa,1733,379,19593,3325,0.088450
India,1765,23,20950,220,0.084248
Spain,8788,519,104499,12958,0.084096
Chile,2260,198,27003,991,0.083694
Taiwan,3827,339,46085,4339,0.083042
Ireland,2853,1171,34794,8187,0.081997
Brazil,7550,388,92283,3052,0.081814
Australia,22034,11382,301994,106359,0.072962
Belgium,8046,2187,115067,17013,0.069924
New Zealand,3313,1404,48173,12439,0.068773
Austria,4117,1572,63446,19667,0.064890
Italy,4695,386,100997,9971,0.046487

,total faculty,international faculty,number of students,international students,ratio
location,,,,,
Australia,22034,11382,301994,106359,0.352189
United Kingdom,79934,30216,583621,199426,0.341705
Hong Kong,10166,6296,78838,24499,0.310751
Austria,4117,1572,63446,19667,0.309980
Switzerland,15323,9208,109112,32995,0.302396
Singapore,9444,6079,58466,16168,0.276537
Canada,29317,10734,281514,73239,0.260161
New Zealand,3313,1404,48173,12439,0.258215
Ireland,2853,1171,34794,8187,0.235299
Netherlands,20287,5683,197631,46044,0.232980
Argentina,16421,3165,122301,27109,0.221658
France,4011,815,35235,6864,0.194806
Malaysia,2755,655,17902,3476,0.194168
United States,152806,33102,1264839,218877,0.173047
Sweden,10329,3062,103353,17644,0.170716
South Africa,1733,379,19593,3325,0.169703
Russia,6709,373,30233,5098,0.168624
Saudi Arabia,1062,665,6040,989,0.163742
Germany,38339,7071,376528,61384,0.163026
Belgium,8046,2187,115067,17013,0.147853
Denmark,11916,3904,67223,9543,0.141960
Norway,4022,1195,34975,4434,0.126776
Spain,8788,519,104499,12958,0.124001
South Korea,19851,2010,140071,16273,0.116177
China,27220,6720,235898,26833,0.113748
Italy,4695,386,100997,9971,0.098726
Taiwan,3827,339,46085,4339,0.094152
Finland,3902,905,34566,3065,0.088671
Japan,28395,2221,186222,16269,0.087363
Israel,2249,454,16531,1034,0.062549
Chile,2260,198,27003,991,0.036700
Brazil,7550,388,92283,3052,0.033072
Mexico,16895,1770,155315,3585,0.023082
India,1765,23,20950,220,0.010501

### d)

In [16]:
display_ratio(df.groupby('region').sum())

,total faculty,international faculty,number of students,international students,ratio
region,,,,,
Asia,106734,25462,807003,110100,0.132260
North America,182123,43836,1546353,292116,0.117776
Europe,223271,68267,1991280,454293,0.112124
Latin America,43126,5521,396902,34737,0.108657
Africa,1733,379,19593,3325,0.088450
Oceania,25347,12786,350167,118798,0.072385

,total faculty,international faculty,number of students,international students,ratio
region,,,,,
Oceania,25347,12786,350167,118798,0.339261
Europe,223271,68267,1991280,454293,0.228141
North America,182123,43836,1546353,292116,0.188906
Africa,1733,379,19593,3325,0.169703
Asia,106734,25462,807003,110100,0.136431
Latin America,43126,5521,396902,34737,0.087520

In [17]:
end = datetime.datetime.now()
print(end - start)

0:00:46.570278