# Filtering the Wiktionnary dataset

In [80]:
import numpy as np
import pandas as pd
import csv

In [81]:
df = pd.DataFrame.from_csv('data/enwiktionary-latest-all-titles', sep='\t')

In [82]:
print(len(df))
df.head()

5962967

               page_title
page_namespace
0                       !
0                      !!
0                     !!!
0                !'O!Kung
0                  !'O!uŋ

In [112]:
df = df[df.page_title.str.contains('_', na=False)]
print(len(df))
df.head()

509453

                        page_title
page_namespace
0                          !O_Kung
0               !nôhm-tâ_súbu-sùbu
0                        !nōo_qùli
0                 !qhàa_gǀqhùã_a̰a
0                 !qhàa_gǀqhùã_qáe

In [113]:
df_filtered = df[df.page_title.str.contains("^\w+$", na=False, regex=True)]
print(len(df_filtered.page_title))
df_filtered.head()

376016

                  page_title
page_namespace
0                0800_number
0               0800_numbers
0                  0_deg_lat
0               10000_meters
0               10000_metres

In [94]:
compound_names = df_filtered.page_title
compound_names = compound_names.str.lower()
compound_names.head()

page_namespace
0     0800_number
0    0800_numbers
0       0_deg_lat
0    10000_meters
0    10000_metres
Name: page_title, dtype: object

In [86]:
compound_names.to_pickle("data/filtered_compound_words.pickle.gz", compression='gzip')

In [109]:
compound_names[compound_names=="hard_disc_drive"]

page_namespace
0    hard_disc_drive
Name: page_title, dtype: object

In [107]:
def search_on_filtered(df, word):
    x = df[df=="technical_support"]
    return x

In [108]:
%timeit search_on_filtered(compound_names, "technical_support")
%timeit search_on_filtered(df.page_title, "technical_support")

10 loops, best of 3: 29.4 ms per loop
10 loops, best of 3: 43.6 ms per loop