# Filtering the Wiktionnary dataset

In [3]:
import numpy as np
import pandas as pd
import csv

In [75]:
df = pd.DataFrame.from_csv('data/enwiktionary-latest-all-titles', sep='\t')

In [23]:
print(len(df))
df.head()

5962967

               page_title
page_namespace
0                       !
0                      !!
0                     !!!
0                !'O!Kung
0                  !'O!uŋ

In [24]:
df = df[df.page_title.str.contains('_', na=False)]
print(len(df))
df.head()

509453

                        page_title
page_namespace
0                          !O_Kung
0               !nôhm-tâ_súbu-sùbu
0                        !nōo_qùli
0                 !qhàa_gǀqhùã_a̰a
0                 !qhàa_gǀqhùã_qáe

In [54]:
df_filtered = df[~df.page_title.str.contains("[-\*\\\(\)\^'&$\\!\.\/=@]|[0-9]", na=False, regex=True)]
print(len(df_filtered))
df_filtered.head()

402860

                 page_title
page_namespace
0                  ABA_form
0               ABC_Islands
0                  ABC_News
0                   ABC_art
0                  ABC_book

In [68]:
compound_names = df_filtered.page_title
compound_names = compound_names.str.lower()
compound_names.head()

page_namespace
0       aba_form
0    abc_islands
0       abc_news
0        abc_art
0       abc_book
Name: page_title, dtype: object

In [69]:
compound_names.to_pickle("data/filtered_compound_words.pickle.gz", compression='gzip')

In [72]:
compound_names[compound_names=="technical_support"]

page_namespace
0    technical_support
Name: page_title, dtype: object

In [73]:
def search_on_filtered(df, word):
    x = df[df=="technical_support"]
    return x

In [79]:
%timeit search_on_filtered(compound_names, "technical_support")
%timeit search_on_filtered(df.page_title, "technical_support")

10 loops, best of 3: 29 ms per loop
1 loop, best of 3: 415 ms per loop